{layout '../layouts/base.latte'}

{block head}
{/block}

{block nav}
  {include '../components/nav.latte',theme => 'success'}
{/block}

{block content}
  <div id="viewer">
    <div id="zoom-wrapper"></div>
  </div>
{/block}

{block scripts}
<script type="module" src="/pages/epub/index.js"></script>
{/block}