{layout '../layouts/base.latte'}

{block nav}
  {include '../components/nav.latte',theme => 'success'}
{/block}

{block content}
  <div id="viewer">
    <div id="zoom-wrapper"></div>
  </div>
{/block}