<html lang="ja" data-theme="light" class="h-full sl-theme-light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <script type="module" src="/shoelace/shoelace.es.js"></script>
    <script src="/js/main.js"></script>
    {block head}{/block}
  </head>
  <body class="h-full m-0 overflow-hidden">
  <div class="h-full flex flex-col">
    {block nav}{/block}
    <main class="flex-1 min-h-0 w-full flex overflow-hidden">
      <div class="w-full flex-1 min-h-0 mx-auto">
        {block content}{/block}
      </div>
    </main>
      <!-- Footer -->
      {* <footer class="h-12 bg-gray-800 text-white flex items-center justify-center">
        フッター
      </footer> *}
  </div>
  {block scripts}{/block}
  </body>
</html>
