/* =========================================
   Local Fonts (TTF)
   ========================================= */

/* ---------- Inter (Variable) ---------- */
/* ---------- Inter Variable (Normal) ---------- */
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* ---------- Inter Variable (Italic) ---------- */
@font-face {
  font-family: "Inter";
  src: url("/fonts/inter/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* ---------- Noto Sans JP ---------- */
@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/noto-sans-jp/NotoSansJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("/fonts/noto-sans-jp/NotoSansJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
